<!--图片裁剪 start-->
<div class="uploadPic-Modal">
    <div class="mc">
        <div class="col-right fr">
            <div class="hd">
                <h4>
                    效果预览</h4>
                <p>
                    你上传的图片会自动生成以下尺寸，请注意小尺寸的图像是否清晰</p>
            </div>
            <div id="picture_200" class="thumbnail">
                <img src="/images/common/no_img_200.jpg"/></div>
        </div>
        <div class="col-left">
            <div class="pic">
                <div id="picture_original">
                    <img src="/images/common/no_img.jpg" id="target" />
                </div>
            </div>
            <div class="clearfix mt10">
                <div class="action">
                        <object id="Upload_BaseInfoImgAttachment" style="width: 150px;"></object>
                </div>
            </div>
        </div>

    </div>
            <div class="clear"></div>
        <div class="ar bt mt10">
            <ul class="mt10">
                <li class="container-btn"><a href="JavaScript:void(0);" id="saveImg" class="btn_green mr10">
                    确定</a> <a href="JavaScript:void(0);" id="CancelsaveImg" class="btn_gray">取消</a>
                </li>
            </ul>
        </div>
</div>
<!--图片裁剪 End-->
